$green-color: rgb(65, 168, 95);
$red-color: rgba(232, 54, 48,0.95);
$white-color: white;
.c-green {
  color: $green-color !important;
}

.c-red {
  color: $red-color !important;
}

.bg-green {
  background: $green-color !important;
}

.bg-red {
  color: $red-color !important;
}

.bg-white {
  background: $white-color !important;
}