@import './colors.scss';
#logo img {
    height: 40px;
}
.ant-card {
    border-radius: 10px !important;
    .ant-card-actions {
        background-color: transparent !important;
    }
}
// tabs customization

.ant-tabs-tab {
    background-color: $green-color !important;
    color: $white-color !important;
    &.ant-tabs-tab-active {
        border-color: $green-color !important;
        border-bottom-color: white !important;
        background-color: $white-color !important;
        .ant-tabs-tab-btn {
            color: $green-color !important;
        }
    }
}

//button customization

.ant-btn-primary {
    border-color: $green-color !important;
    background: $green-color !important;
    &.ant-btn-background-ghost {
        background: transparent !important;
        color: $green-color !important;
    }
}

