@for $i from 1 through 40 {
    .ml-#{$i} {
        margin-left: #{$i}px !important;
    }
    .mr-#{$i} {
        margin-right: #{$i}px !important;
    }
    .mt-#{$i} {
        margin-top: #{$i}px !important;
    }
    .mb-#{$i} {
        margin-bottom: #{$i}px !important;
    }
    .pb-#{$i} {
        padding-bottom: #{$i}px !important;
    }
    .pt-#{$i} {
        padding-top: #{$i}px !important;
    }
    .pr-#{$i} {
        padding-right: #{$i}px !important;
    }
    .pl-#{$i} {
        padding-left: #{$i}px !important;
    }
    .pv-#{$i} {
        padding: #{$i}px auto !important;
    }
    .ph-#{$i} {
        padding: auto #{$i}px !important;
    }
}
.m-auto {
    margin: auto;
}
.no-padding {
    padding: 0px !important
}